@font-face {
  font-family: "ELAND_Choice_M";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/*
html > body{
  font-family:'ELAND_Choice_M';
}
*/

.bg-main {
  background-color: #2e4c92;
}

/* 메뉴바 - pc 시작 */
.top-bar__menu-box-1 ul > li:hover > a,
.logined ul li li:hover > a,
.section-2 ul li:hover > a {
  color: #2e4c92;
}

@media (max-width: 915px) {
  .top-bar__menu-box-1 > ul > li > * {
    padding: 0 20px;
  }
}

@media (max-width: 795px) {
  .top-bar__menu-box-1 > ul > li > *,
  .logined,
  .logouted {
    font-size: 18px;
  }
}

.top-bar__menu-box-1 > ul > li:hover > ul {
  display: block;
}

.logined > ul > li:hover > ul {
  display: block;
}
/* 메뉴바 - pc 끝 */

/* 모바일 탑바 시작*/
.mobile-top-bar__btn-toggle-side-bar > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: #333;
  transition: top var(--mobile-top-bar__btn-toggle-side-bar__dur),
    transform var(--mobile-top-bar__btn-toggle-side-bar__dur),
    opacity var(--mobile-top-bar__btn-toggle-side-bar__dur);
  border-radius: 2px;
}

.mobile-top-bar__btn-toggle-side-bar > div:nth-child(2) {
  top: 40%;
}

.mobile-top-bar__btn-toggle-side-bar > div:nth-child(3) {
  top: 80%;
}

/* 모바일 탑바 끝*/

/* 모바일 사이드 바 시작 */
.mobile-side-bar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 70%;
  bottom: 0%;
  background-color: white;
  transition: left 0.3s;
  padding-bottom: 56px;
}
.mobile-side-bar.active {
  left: 0;
}

/* 모바일 사이드 바 끝 */

/* 포트폴리오 슬라이드 시작*/
#wrapper{
  height:400px;
  position:relative;
  color:#fff;
  text-shadow:rgba(0,0,0,0.1) 2px 2px 0px;  
}

#slider-wrap{
  height:400px;
  position:relative;
  overflow:hidden;
}

#slider-wrap ul#slider{
  height:100%;
  position:absolute;
  top:0;
  left:0;   
}

#slider-wrap ul#slider li{
  float:left;
  position:relative;
  height:400px; 
}

#slider-wrap ul#slider li > .slider-contents-top{
  position:absolute;
  top:20px;
  left:35px;  
}

#slider-wrap ul#slider li > .slider-contents-bottom{
  position:absolute;
  bottom:20px;
  right:35px;  
}

#slider-wrap ul#slider li > div h3{
  font-size:36px;
  text-transform:uppercase; 
}

#slider-wrap ul#slider li > div span{
  font-family: Neucha, Arial, sans serif;
  font-size:21px;
}

#slider-wrap ul#slider li img{
  display:block;
  height: 100%;
}


/*btns*/
.btns{
  position:absolute;
  width:50px;
  height:60px;
  top:50%;
  margin-top:-25px;
  line-height:57px;
  text-align:center;
  cursor:pointer; 
  background:rgba(0,0,0,0.1);
  z-index:100;
  
  
  -webkit-user-select: none;  
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -ms-user-select: none;
  
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.btns:hover{
  background:rgba(0,0,0,0.3); 
}

#next{right:-50px; border-radius:7px 0px 0px 7px;}
#previous{left:-50px; border-radius:0px 7px 7px 7px;}
#counter{
  top: 30px; 
  right:35px; 
  width:auto;
  position:absolute;
}

#slider-wrap.active #next{right:0px;}
#slider-wrap.active #previous{left:0px;}


/*bar*/
#pagination-wrap{
  min-width:20px;
  margin-top:350px;
  margin-left: auto; 
  margin-right: auto;
  height:15px;
  position:relative;
  text-align:center;
}

#pagination-wrap ul {
  width:100%;
}

#pagination-wrap ul li{
  margin: 0 4px;
  display: inline-block;
  width:5px;
  height:5px;
  border-radius:50%;
  background:#fff;
  opacity:0.5;
  position:relative;
  top:0;
  
  
}

#pagination-wrap ul li.active{
  width:12px;
  height:12px;
  top:3px;
  opacity:1;
  box-shadow:rgba(0,0,0,0.1) 1px 1px 0px; 
}

/*Header*/
h1, h2{text-shadow:none; text-align:center;}
h1{ color: #666; text-transform:uppercase;  font-size:36px;}
h2{ color: #7f8c8d; font-family: Neucha, Arial, sans serif; font-size:18px; margin-bottom:30px;} 

/*ANIMATION*/
#slider-wrap ul, #pagination-wrap ul li{
  -webkit-transition: all 0.3s cubic-bezier(1,.01,.32,1);
  -moz-transition: all 0.3s cubic-bezier(1,.01,.32,1);
  -o-transition: all 0.3s cubic-bezier(1,.01,.32,1);
  -ms-transition: all 0.3s cubic-bezier(1,.01,.32,1);
  transition: all 0.3s cubic-bezier(1,.01,.32,1); 
}

/* 포트폴리오 슬라이드 끝*/

/* 포트폴리오 분류 시작 */
@media (max-width: 600px) {
  .section-2 > div {
    display: block;
  }

  .section-2 > div > div {
    margin-bottom: 10px;
    margin-right: 16px;
  }

  .section-2 select {
    width: 100%;
  }
}
/* 포트폴리오 분류 끝 */

/* 포트폴리오 리스트 시작 */

.pt-80p {
  padding-top: 80%;
}

.portfolio-list-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 1s;
}

.portfolio-list-img-box:hover > .portfolio-list-img::before {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.portfolio-list-img-box:hover img {
  transform: scale(1.2);
}

.portfolio-list-img > img {
  z-index: -1;
}

/* 포트폴리오 리스트 끝 */