@font-face {
  font-family: "ELAND_Choice_M";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/*
html > body{
  font-family:'ELAND_Choice_M';
}
*/

.bg-main {
  background-color: #2e4c92;
}

/* 메뉴바 - pc 시작 */
.top-bar__menu-box-1 ul > li:hover > a,
.logined ul li li:hover > a,
.section-2 ul li:hover > a {
  color: #2e4c92;
}

@media (max-width: 915px) {
  .top-bar__menu-box-1 > ul > li > * {
    padding: 0 20px;
  }
}

@media (max-width: 795px) {
  .top-bar__menu-box-1 > ul > li > *,
  .logined,
  .logouted {
    font-size: 18px;
  }
}

.top-bar__menu-box-1 > ul > li:hover > ul {
  display: block;
}

.logined > ul > li:hover > ul {
  display: block;
}
/* 메뉴바 - pc 끝 */

/* 모바일 탑바 시작*/
.mobile-top-bar__btn-toggle-side-bar > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: #333;
  transition: top var(--mobile-top-bar__btn-toggle-side-bar__dur),
    transform var(--mobile-top-bar__btn-toggle-side-bar__dur),
    opacity var(--mobile-top-bar__btn-toggle-side-bar__dur);
  border-radius: 2px;
}

.mobile-top-bar__btn-toggle-side-bar > div:nth-child(2) {
  top: 40%;
}

.mobile-top-bar__btn-toggle-side-bar > div:nth-child(3) {
  top: 80%;
}

/* 모바일 탑바 끝*/

/* 모바일 사이드 바 시작 */
.mobile-side-bar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 70%;
  bottom: 0%;
  background-color: white;
  transition: left 0.3s;
  padding-bottom: 56px;
}
.mobile-side-bar.active {
  left: 0;
}

/* 모바일 사이드 바 끝 */

/* 포트폴리오 분류 시작 */
@media (max-width: 600px) {
  .section-2 > div {
    display: block;
  }

  .section-2 > div > div {
    margin-bottom: 10px;
    margin-right: 16px;
  }

  .section-2 select {
    width: 100%;
  }
}
/* 포트폴리오 분류 끝 */

/* 포트폴리오 리스트 시작 */

.pt-80p {
  padding-top: 80%;
}

.portfolio-list-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 1s;
}

.portfolio-list-img-box:hover > .portfolio-list-img::before {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.portfolio-list-img-box:hover img {
  transform: scale(1.2);
}

.portfolio-list-img > img {
  z-index: -1;
}

/* 포트폴리오 리스트 끝 */